/**** Sitewide ****/

/*** Global Classes ***/

img {
  max-width: 100%;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.float-left {
  float: left;
}

.float-right {
  float:right;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.margin-bottom-1em {
  margin-bottom: 1em !important;
}

.margin-top-1em {
  margin-top: 1em !important;
}

.vmargin-1em {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.vmargin-2em {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.width-5 {
	width: 5%;
}

.width-10 {
	width: 10%;
}

.width-20 {
	width: 20%;
}

.width-25 {
	width: 25%;
}

.width-30 {
	width: 30%;
}

.width-40 {
	width: 40%;
}

.width-50 {
	width: 50%;
}

.width-60 {
	width: 60%;
}

.width-70 {
	width: 70%;
}

.width-75 {
	width: 75%;
}

.width-80 {
	width: 80%;
}

.width-90 {
	width: 90%;
}

.width-95 {
	width: 95%;
}

.width-100 {
	width: 100%;
}

/** Buttons **/

.btn.btn-blue {
background-color:#207CCA;
color: #fff;
}

/*** Page setup ***/

/** Page **/

body {
	background-color: #0066ff;
}

#navbar {
	margin-top: 0;
}

.main-container, .footer, .navbar.container {
	width: 90%;
	max-width: 1400px;
}

.main-container, .footer {
	background-color: #fff;
}

.main-container {
	margin-top: 1em;
	padding-top: 1em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.navbar.container {
	border-top-left-radius: unset;
	border-top-right-radius: unset;
}

.footer {
	margin-top: 0;
	margin-bottom: 2em;
	padding-top: 45px;
	border-top: unset;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/** Menu **/

#block-system-user-menu {
  width: 30%;
  float: right;
}

#block-system-user-menu ul li {
  float: right;
}

.navbar-collapse nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
}

.navbar-header .navbar-brand {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 100px;
}

/*** Add/Edit Links ***/

a.forum-button {
	color:#fff;
	font-weight: bold;
	padding: 0.4em 0.6em 0.4em 2.5em;
	border-radius: 1em;
}

a.command-button, .command-button a {
	color:#fff;
	font-weight: bold;
	padding: 0.4em 0.6em 0.4em 2.5em;
	margin: 0.3em;
	border-radius: 1em;
}

p.button-container {
	margin-top: 1em;
	margin-bottom: 1em;
}

a.add-button, .add-button a {
	background: #2E7BE8; /* Old browsers */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/plus-sign-small.png');
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/plus-sign-small.png'), -moz-linear-gradient(top, #2E7BE8 0%, #28AAEF 34%, #2E7BE8 100%); /* FF3.6+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/plus-sign-small.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2E7BE8), color-stop(34%,#28AAEF), color-stop(100%,#2E7BE8)); /* Chrome,Safari4+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/plus-sign-small.png'), -webkit-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* Chrome10+,Safari5.1+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/plus-sign-small.png'), -o-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* Opera 11.10+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/plus-sign-small.png'), -ms-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* IE10+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/plus-sign-small.png'), linear-gradient(to bottom, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* W3C */
	background-repeat: no-repeat;
	background-position: 5% 50%;
}

a.back-button, .back-button a {
	background: #2E7BE8; /* Old browsers */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/left-arrow-icon-small.png');
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/left-arrow-icon-small.png'), -moz-linear-gradient(top, #2E7BE8 0%, #28AAEF 34%, #2E7BE8 100%); /* FF3.6+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/left-arrow-icon-small.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2E7BE8), color-stop(34%,#28AAEF), color-stop(100%,#2E7BE8)); /* Chrome,Safari4+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/left-arrow-icon-small.png'), -webkit-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* Chrome10+,Safari5.1+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/left-arrow-icon-small.png'), -o-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* Opera 11.10+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/left-arrow-icon-small.png'), -ms-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* IE10+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/left-arrow-icon-small.png'), linear-gradient(to bottom, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* W3C */
	background-repeat: no-repeat;
	background-position: 5% 50%;
}

a.log-button, .log-button a {
	background: #2E7BE8; /* Old browsers */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/pencil-small.png');
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/pencil-small.png'), -moz-linear-gradient(top, #2E7BE8 0%, #28AAEF 34%, #2E7BE8 100%); /* FF3.6+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/pencil-small.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2E7BE8), color-stop(34%,#28AAEF), color-stop(100%,#2E7BE8)); /* Chrome,Safari4+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/pencil-small.png'), -webkit-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* Chrome10+,Safari5.1+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/pencil-small.png'), -o-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* Opera 11.10+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/pencil-small.png'), -ms-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* IE10+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/pencil-small.png'), linear-gradient(to bottom, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* W3C */
	background-repeat: no-repeat;
	background-position: 5% 50%;
}

a.config-button, .config-button a {
	background: #2E7BE8; /* Old browsers */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/gear-icon-small.png');
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/gear-icon-small.png'), -moz-linear-gradient(top, #2E7BE8 0%, #28AAEF 34%, #2E7BE8 100%); /* FF3.6+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/gear-icon-small.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2E7BE8), color-stop(34%,#28AAEF), color-stop(100%,#2E7BE8)); /* Chrome,Safari4+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/gear-icon-small.png'), -webkit-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* Chrome10+,Safari5.1+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/gear-icon-small.png'), -o-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* Opera 11.10+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/gear-icon-small.png'), -ms-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* IE10+ */
	background-image: url('/sites/all/themes/bootstrap/libertytools/images/gear-icon-small.png'), linear-gradient(to bottom, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* W3C */
	background-repeat: no-repeat;
	background-position: 5% 50%;
}

a.blank-button, .blank-button a {
	background: #2E7BE8; /* Old browsers */
	background-image: -moz-linear-gradient(top, #2E7BE8 0%, #28AAEF 34%, #2E7BE8 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2E7BE8), color-stop(34%,#28AAEF), color-stop(100%,#2E7BE8)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, #2E7BE8 0%,#28AAEF 34%,#2E7BE8 100%); /* W3C */
	background-repeat: no-repeat;
	background-position: 5% 50%;
}

/*** Page Body ***/

body.not-front {
	margin-bottom: 5em;
}

/*** User Login Block ***/

#user-login-form .form-item-name, #user-login-form .form-item-pass {
	width: 45%;
	margin-right: 1em;
	float: left;
}

#user-login-form ul {
	clear: both;
	width: 100%;
	margin-bottom: 2em;
}

#user-login-form ul li {
	float: left;
	margin-right: 2em;
}

#user-login-form .hybridauth-widget-wrapper {
	clear: both;
}

/** Global Class media queries **/

@media screen and (max-width: 960px) {
  /** Menu **/
  .navbar-collapse ul a {
		font-size: 12px;
		padding: 0.5em;
  }
}

@media screen and (max-width: 767px) {
	.navbar-header button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
		margin-top: unset;
		margin-bottom: unset;
		margin-right: 5px;
	}
	.navbar.container {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.navbar-collapse {
		border: none;
		height: auto !important;
	}
	.navbar-collapse nav {
		top: unset;
		transform: unset;
		background-color: #fff;
	}
	.navbar-collapse nav ul li {
		background-color: #fff;
	}
}

@media screen and (max-width: 480px) {
  .navbar-header .logo img {
    width: 30px;
  }
  .navbar-header .navbar-brand {
		padding: 0.3em;
		padding-left: 1em;
		font-size: 1.2em;
		left: 40px;
  }
  #user-login-form .form-item-name, #user-login-form .form-item-pass {
		width: 95%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 25px;
  }
}

/*** Titles ***/

.navbar-brand {
  color: #000 !important;
  font-size: 1.6em;
}

p.lead {
  font-size: 1.2em;
}

/*** Comments ***/

div#comments {
margin-top: 4em;
}

h2.comment-form {
	font-size:2em;
}

/**** Page Specific ****/

/*** Home page ***/

.home-blog-tile {
  margin-bottom: 1em;
}

.home-blog-tile img {
  max-height:120px;
  max-width:200px;
  margin-bottom: 1em;
}

.home-right-pane {
  border-left: 1px solid #ddd;
}

.view-home-page-recent-blog-posts .views-row-even .home-blog-info, .view-home-page-recent-blog-posts .views-row-odd .home-blog-img {
  float: left;
}

.view-home-page-recent-blog-posts .views-row-odd .home-blog-info, .view-home-page-recent-blog-posts .views-row-even .home-blog-img {
  float: right;
}

/*** Resource pages ***/

.view-resources table {
	background-color: #fff;
}

/*** Blog pages ***/

.view-related-posts .blog-tile {
  max-width: 500px;
}

.view-related-posts .blog-img {
  float: left;
  max-width: 150px;
}

.view-related-posts .blog-info {
	float: right;
	vertical-align: middle;
}

/*** Blocks ***/

/** Header **/

#navbar {
  border: none;
}

#block-block-1 {
  width: 50%;
  float: right;
}

#cse-search-box {
  float: right;
}

#cse-search-box input[type=text] {
  width: 75%;
}

#block-system-main-menu {
  width: 100%;
  float: right;
}

#block-system-main-menu li {
  width: 20%;
  float: left;
  text-align: center;
  background: #2d5f99; /* Old browsers */
  background: -moz-linear-gradient(top, #2d5f99 0%, #207cca 56%, #2989d8 76%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d5f99), color-stop(56%,#207cca), color-stop(76%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2d5f99 0%,#207cca 56%,#2989d8 76%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2d5f99 0%,#207cca 56%,#2989d8 76%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2d5f99 0%,#207cca 56%,#2989d8 76%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(to bottom, #2d5f99 0%,#207cca 56%,#2989d8 76%,#7db9e8 100%); /* W3C */
}

#block-system-main-menu li a {
  color: #fff;
  font-weight: bold;
}

#block-system-main-menu li a:hover {
  background: none !important;
}

#block-system-main-menu li:hover {
  background: #547499 !important; /* Old browsers */
  background: -moz-linear-gradient(top, #547499 0%, #5896c9 56%, #75aad6 76%, #b0cee5 100%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#547499), color-stop(56%,#5896c9), color-stop(76%,#75aad6), color-stop(100%,#b0cee5)) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #547499 0%,#5896c9 56%,#75aad6 76%,#b0cee5 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #547499 0%,#5896c9 56%,#75aad6 76%,#b0cee5 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #547499 0%,#5896c9 56%,#75aad6 76%,#b0cee5 100%) !important; /* IE10+ */
  background: linear-gradient(to bottom, #547499 0%,#5896c9 56%,#75aad6 76%,#b0cee5 100%) !important; /* W3C */
}

/** Header - Media Queries **/

@media screen and (max-width: 767px) {
  .region-navigation {
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    animation: slide;
    z-index: 500;
  }
  #block-block-1 {
    width: 100%;
    float: unset;
    background: #fff;
  }
  #block-system-main-menu {
    width: unset;
    background: #fff;
  }
  #block-system-main-menu li {
    width: 100%;
    float: unset;
  }
}

/**** Q&A ****/

/** Answers **/

.view-answers-to-question > .view-content > .views-row {
	border: 1px solid #000;
	box-shadow: 5px 5px 5px #999;
	padding: 1em;
	margin-bottom: 1em;
}

.view-answers-to-question .answer-author {
	font-style: italic;
	padding-bottom: 0.5em;
}

.view-answers-to-question .answer, .view-answers-to-question .answer-refs {
	padding-bottom: 1em;
}

/** Votes on Answer **/
.view-votes-on-answer div.rate-widget {
	float:left;
	padding-right: 0.5em;
}

.view-votes-on-answer div.views-field {
	float:left;
	padding-right: 2em;
}

/**** Blog ****/

.view-add-buttons {
	padding-bottom: 2em;
}

/*** Main View ***/

.view-blog-main-page .masonry-item {
	width: 23%;
	margin-left: 1em;
	float: left;
}

.view-blog-main-page .tile-wrapper {
	box-shadow: 5px 5px 5px #999;
	border: 1px solid #999;
	margin-bottom: 2em;
}

.view-blog-main-page .tile-image {
	text-align: center;
	overflow: hidden;
}

.view-blog-main-page .tile-image img {
	max-width: 100%;
	height: auto;
}

.view-blog-main-page .tile-info {
	padding: 1em;
}

.view-blog-main-page .tile-info .post-date {
	color: #999;
	font-style: italic;
}

.view-blog-main-page .tile-info .description {
	margin-bottom: 1em;
}

/** Main View Responsive **/

@media (max-width:1280px) {
	.view-blog-main-page .masonry-item {
		width: 31%;
	}
}

@media (max-width:900px) {
	.view-blog-main-page .masonry-item {
		width: 48%;
	}
}

@media (max-width:480px) {
	.view-blog-main-page .masonry-item {
		width: 100%;
		margin-left:0;
	}
}

/*** Blog Pages ***/

/**** Project Pages ****/

/*** Main View ***/

.view-project-showcase .view-filters {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-right: 2%;
	padding-left: 2%;
	background: #fff;
	z-index: 500;
	border-top: 1px solid #000;
}

.view-project-showcase .view-filters h4 {
  margin-bottom: 5px;
}

.view-project-showcase .views-row {
	width: 30%;
	margin-right: 1%;
}

.view-project-showcase .tile-wrapper {
	box-shadow: 5px 5px 5px #999;
	border: 1px solid #999;
	margin-bottom: 2em;
}

.view-project-showcase .tile-image {
	text-align: center;
	overflow: hidden;
}

.view-project-showcase .tile-info, .view-project-showcase .tile-info .dropdown-menu {
	padding: 1em;
}

.view-project-showcase .tile-info .project-type {
	color: #999;
	font-style: italic;
}

.view-project-showcase .tile-info .description {
	margin-bottom: 1em;
}

/*** Science Project Profile Page ***/

.project-profile-section {
	padding: 1em;
  float: left;
}

.project-profile-body {
  clear:both;
}

/*** Science Project Post Page ***/

/**** Ask a Scientist ****/

/*Ask a Scientist Main Page */

.aas-question-block {
width:21%;
margin: 0.5em 0.7%;
padding: 0.5em 1%;
display:inline-block;
vertical-align:bottom;
height:11em; }

.view-ask-a-scientist-questions .item-list {
    display: inline-block;
    vertical-align: top;
    width: 33%; }

.view-ask-a-scientist-questions .item-list ul {
    list-style:none; }

/*Ask a Scientist Question/Answer Page */

#similar-questions-wrapper{
  width:30%;
  z-index:99;
  position: fixed;
  bottom: 0;
  right: 0; }

.view-similar-questions {
  background:#f0f0f0;
  padding:1em;
  line-height:1.2em;
  border: 1px solid #000; }

#block-views-similar-questions-block h2 {
  padding:0;
  padding-bottom:0.3em; }

.view-ask-a-scientist-question-question-profile {
  line-height:1.5em; }

#show-hide {
  position: absolute;
  top: -3em;
  right: 1em;
  border:1px solid #000;
  padding:0.5em;
  width:auto;
  background:#f0f0f0;
  font-size:0.85em; }

/* Media queries */

@media (max-width:720px) {
	/** Ask a Scientist **/
  .view-ask-a-scientist-questions .item-list {
    width:49.5%;
  }
  .aas-question-block {
    width:42%;
  }
  #similar-questions-wrapper {
  width:50%;
  margin:0 auto;
  line-height:1em;
  font-size: 0.9em;
  }
  /** Science Projects **/
  .view-project-showcase .views-row {
		width: 98%;
		margin-right: 1%;
		margin-left: 1%;
	}
}

@media (max-width:400px) {
	/** Ask a Scientist **/
  .view-ask-a-scientist-questions .item-list {
    width:99%;
  }
	#similar-questions-wrapper {
		width:95%;
		line-height:1em;
		font-size: 0.9em;
	}
  .aas-question-block {
    width:95%;
    height:5em;
  }
}

